/* ------------------------------- NAVBAR ------------------------------- */
.navbar-scroll {
    background-color: #140f44; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Sombra no navbar */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; /* Altura do navbar */
}

nav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav .logo-undf {
    max-height: 60px; 
}

nav .welcome-message {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}

/* ------------------------------- FOOTER ------------------------------- */
footer {
    padding: 50px 0;
    background-color: #140f44;
    margin-top: auto; /* Força o footer pro final 2 */
}

.footer-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    line-height: 1.4em;
}

.sigla {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #777;
}

footer .logo-gdf {
    text-align: right;
}

.col-xs-12 {
    width: 100%;
}

.side-bar{
	display: flex;
}

.side-bar-padrao{
	flex-direction: row;
}