/* ------------------------------- NAVBAR ------------------------------- */
.navbar-scroll {
    background-color: #140f44; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Sombra no navbar */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; /* Altura do navbar */
}

nav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav .logo-undf {
    max-height: 60px; 
}

nav .welcome-message {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}

/* ------------------------------- FOOTER ------------------------------- */
footer {
    padding: 50px 0;
    background-color: #140f44;
    margin-top: auto; /* Força o footer pro final 2 */
}

.footer-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    line-height: 1.4em;
}

.sigla {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #777;
}

footer .logo-gdf {
    text-align: right;
}

.col-xs-12 {
    width: 100%;
}

<<<<<<< Updated upstream
.side-bar{
	display: flex;
}

.side-bar-padrao{
	flex-direction: row;
}

/* Estilos para a tabela */
.tabela {
    width: 50%;
    border-collapse: separate; /* Utiliza separação entre as bordas das células */
    
}
.tabela th, .tabela td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 200px;
    font-size: 20px;
}

.tabela th {
    background-color: #8AC7E8;
}
.tabela tbody tr:hover {
    background-color: #fff;
}

/*Teste css sidebar*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    left: -250px;
    transition: left 0.3s;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

.sidebar-list li {
    padding: 30px 20px;
    cursor: pointer;
}

.sidebar-list li:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
    flex-grow: 1;
}

.main-content.collapsed {
    margin-left: 0;
}

button#toggleButton {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
}

button#toggleButton:hover {
    background-color: #2980b9;
}