/* ------------------------------- NAVBAR ------------------------------- */
.navbar-scroll {
    background-color: #140f44; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Sombra no navbar */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; /* Altura do navbar */
}

nav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav .logo-undf {
    max-height: 60px; 
}

nav .welcome-message {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}

/* ------------------------------- FOOTER ------------------------------- */
footer {
    padding: 50px 0;
    background-color: #140f44;
    margin-top: auto; /* Força o footer pro final 2 */
}

.footer-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    line-height: 1.4em;
}

.sigla {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #777;
}

footer .logo-gdf {
    text-align: right;
}

.col-xs-12 {
    width: 100%;
}

/* ------------------------------- TABELA ------------------------------- */
.tabela {
    width: 50%;
    border-collapse: separate; /* Utiliza separação entre as bordas das células */  
}

.tabela th, .tabela td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: 200px;
    font-size: 20px;
}

.tabela th {
    background-color: #8AC7E8;
}
.tabela tbody tr:hover {
    background-color: #fff;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center; 
	margin-top: 10px; 
}

.content-wrapper h2 {
	margin-bottom: 0px; 
}

.content-wrapper button {
    margin-bottom: 20px; 
}

.content-wrapper table {
    width: 80%; 
    margin-top: 20px; 
}

/* ------------------------------- SIDEBAR ------------------------------- */
.side-bar{
	display: flex;
}

.side-bar-padrao{
	flex-direction: row;
}

/*Teste css sidebar*/
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #140f44;
    color: white;
    position: fixed;
    left: -250px;
    transition: left 0.3s;
}

/*TESTE LEX*/
.side-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que a barra lateral ocupe toda a altura da viewport */
    background-color: #f0f0f0; /* Cor de fundo para verificar o alinhamento */
}

.side-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens ao topo */
    height: 100vh; /* Altura total da viewport */
    background-color: #f0f0f0; /* Cor de fundo para verificar alinhamento */
    padding-top: 20px; /* Espaçamento superior para separação do topo */
}

/*TESTEI ISSO AQUI PARA CENTRALIZAR AS COISAS DA TABELA E BOTOES*/
.side-bar2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens ao topo */
    height: 100vh; /* Altura total da viewport */
    background-color: #f0f0f0; /* Cor de fundo para verificar alinhamento */
    padding-top: 60px; /* Espaçamento superior para separação do topo */
}

.side-bar-padrao2 {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 1000px; /* Define uma largura máxima */
}

.teste2 {
    text-align: center; /* Alinha o texto centralmente */
    margin-top: 90px; /* Espaçamento superior para os elementos dentro de teste */
}

.teste2 table {
    width: 100%; /* Ocupa toda a largura disponível */
    border-collapse: collapse; /* Remove espaçamento entre as células da tabela */
}

.teste2 button {
    margin-top: 50px; /* Espaçamento superior para os botões */
    margin-left: 20px;
}




.sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

.sidebar-list li {
    padding:15px 20px;
    cursor: pointer;
}

.sidebar-list li:hover {
    background-color: #428FCA;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
    flex-grow: 1;
}

.main-content.collapsed {
    margin-left: 0;
}

button#toggleButton {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #140f44;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
}

