@charset "UTF-8";

h1 {
	margin-top: 20px;
}

input[type="submit"] {
	background-color: #123ce3;
	color: white;
	padding: 12px 20px;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 80%;
	display: block;
	margin: 0 auto;
}

label, textarea {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

input[type="text"], input[type="date"], input[type="number"], select, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.wrapper {
	background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.wrapper .form-container {
	width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
	
}
