body {
	justify-content: center; 
	align-items: center; 
	text-align: center;
}

.login {
	text-align: center;
	margin-top: 100px;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	display: block;
}

h1 {
	margin-top: 20px;
}

p {
	font-size: 18px;
	margin-top: 20px;
}

form {
	background-color: #fff;
	width: 400px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	/* Para que os labels e inputs fiquem alinhados à esquerda */
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="password"], select {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

input[type="submit"] {
	background-color: #123ce3;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 80%;
	display: block;
	margin: 0 auto;
}

input[type="submit"]:hover {
	background-color: rgb(18, 60, 227);
}

.error-message {
	color: red;
	margin-top: 10px;
}