body {
	display: grid;
	height: 100vh; /* Garante a altura total da viewport */
    place-items: center;
    margin: 0; /* Remove margem padrão do body */
    background: linear-gradient(45deg, #2d2d6d, #1f61ad, #3878b8, #4393ce, #90ccf1, #140f44);
    background-size: 600% 600%;
    animation: gradientAnimation 20s ease infinite;
    overflow: hidden; 
}

/* ----------------------------------- DIAMANTES ----------------------------------- */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.diamond-shapes {
    position: absolute;
    top: -50px;
    left: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    pointer-events: none;
    overflow: hidden;
}

.diamond {
    position: absolute;
    width: 50px; /* Adjust size of diamonds as needed */
    height: 50px; /* Adjust size of diamonds as needed */
    background-color: rgba(255, 255, 255, 0.15); /* Semi-transparent white */
    border-radius: 5px;
    animation: diamondAnimation 10s linear infinite;
}

.diamond:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.diamond:nth-child(2) {
    top: 30%;
    left: 60%;
    animation-delay: 2s; /* Delay for staggered animation */
}

.diamond:nth-child(3) {
    top: 50%;
    left: 40%;
    animation-delay: 1s; /* Delay for staggered animation */
}

.diamond:nth-child(4) {
    top: 70%;
    left: 80%;
    animation-delay: 3s; /* Delay for staggered animation */
}

.diamond:nth-child(5) {
    top: 90%;
    left: 10%;
    animation-delay: 4s; /* Delay for staggered animation */
}

@keyframes diamondAnimation {
    0% {
        transform: rotate(0deg) translateY(-100%);
        opacity: 0;
    }
    25% {
        transform: rotate(180deg) translateY(0%);
        opacity: 1;
    }
    50% {
        transform: rotate(360deg) translateY(100%);
        opacity: 0;
    }
    75% {
        transform: rotate(540deg) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: rotate(720deg) translateY(-100%);
        opacity: 0;
    }
}

/* ------------------------------------------------------------------------------------------- */

.logo {
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
	width: 0 auto;
}

h1 {
	margin-top: 20px;
}

p {
	font-size: 18px;
	margin-top: 10px;
}

.wrapper {
	max-width: 480px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 8px;
	overflow: hidden;
}

.wrapper .form-container {
	width: 100%;	
	overflow: hidden;
}

.form-container .slide-controls {
	position: relative;
	display: flex;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin: 30px 0 10px 0;
	justify-content: space-between;
	border: 1px solid lightgrey;
}

.slide-controls .slide {
	height: 100%;
	width: 100%;
	z-index: 1;
	color: white;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
	transition: all 0.6s ease;
}

.slide-controls .senha {
	color: black;
}

.slide-controls .slide-tab {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	z-index: 0;
	border-radius: 5px;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background: #1f61ad;
}

input[type="radio"] {
	display: none;
		
}

#senha:checked ~ .slide-tab {
	left: 50%;
}

#senha:checked ~ .senha {
	color: white;
}

#senha:checked ~ .login {
	color: black;
}

.form-container .form-inner {
	display: flex;
	width: 200%;
}

.form-container .form-inner form {
	width: 50%;	
	transition: all 0.6s cubic-bezier(0.68, -0,55, 0.265, 1.55);
}

.form-inner form .field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-inner form .field input {
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 15px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	border-bottom-width: 2px;
	transition: all 0.4s ease;
}

.form-inner form .field input:focus {
	border-color: #1f61ad;
}

.form-inner form .senha-link {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

.form-inner form .senha-link a,
.form-inner form .cadastro-link a {
	/* color: */
	text-decoration: none;
}

.form-inner form .senha-link a:hover,
.form-inner form .cadastro-link a:hover {
	text-decoration: underline;
}
	
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="password"], select {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

.submit-acessar, .submit-redefinir {
	background-color: #1f61ad;
	color: white;
	padding: 12px 20px;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 80%;
	display: block;
	margin: 0 auto;
	transition: background-color 0.3s ease;
}

.submit-redefinir {
	margin: 20px auto;
}

input[type="submit"]:hover {
	background-color: #292e6e;
}

.error-message {
	font-size: 14px;
	color: red;
}

.success-message {
	font-size: 14px;
    color: green;
    /* font-weight: bold; */
}
