body {
    display: flex; 
    flex-direction: column; 
}

main {
	flex: 1; /* Força o footer pro final 1 */
    display: flex;
    flex-direction: column;
    padding-top: var(--nav-height); /* Padding igual à altura da navbar flutuante */
}

.buttons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 160px); 
}

/* ------------------------------- BOTÕES ------------------------------- */
/* Opção 1 
.button-group {
    text-align: center;
    position: relative;  
}
*/

/* Opção 2 - Descomenta se gostar */
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-image: url('../imagens/atividades.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1; 
	margin: 10px; 
	width: 200px; 
    height: 200px; 
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o botão no estado de hover */
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    z-index: 2; /* Overlay em cima do plano de fundo */
    opacity: 1; /* Efeito de overlay inicialmente visível */
    transition: opacity 0.3s ease; /* Easing */
}

.button:hover::before {
    opacity: 0; /* Esconde o overlay no hover */
}

/* Texto do botão */
.button span {
    z-index: 3; /* Texto do botão em cima do overlay */
    position: relative;
    color: white;
    padding: 5px 10px; 
	/* background-color: rgba(0, 0, 0, 0.5); */
}

/* Sombra pro texto apenas no estado de hover */
.button:hover span {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* ------------------------------- ESTILOS ESPECÍFICOS DOS BOTÕES ------------------------------- */
.button-1 {
    padding: 300px 130px;
}

.button-2 {
    padding: 300px 130px;
}

.button-3 {
    padding: 300px 130px;
}

@media screen and (max-width: 991px) {
    .button-group {
        flex-direction: column; /* Empilhar os botões verticalmente */
        margin: 20px 0;
    }

    .button {
        width: 80%; 
        padding: 30px 50px;
    }
}


/* Estilização do titulo Sibe Bar*/
.tituloSideBar{
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

a {
	color: #fff;
	text-decoration: none;
}


