@charset "UTF-8";

/* styles.css */

body {
    padding-top: 80px; /* Ajuste conforme a altura do seu navbar */
}

.navbarScroll {
    background-color: #140f44; /* Cor de fundo do navbar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra no navbar */
    display: flex; /* Usando flexbox para centralizar a logo */
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    align-items: center; /* Centraliza conteúdo verticalmente */
    height: 80px; /* Altura do navbar */
}

.logo-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.logoUnDF {
    max-height: 60px; /* Ajuste a altura máxima da logo conforme necessário */
}

.heroTitle {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 15px; /* Espaçamento superior */
    margin-bottom: 15px; /* Espaçamento inferior */
}

.butoins{
	display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Centraliza os botões verticalmente */
    height: 100vh; /* Altura total da viewport */
}


/*Para os botões*/
.button-container {
    margin-top: 50px; /* Espaçamento entre o navbar e a section */
    text-align: center; /* Centraliza os botões horizontalmente */
    position: relative;
}

/* Para o botão 1 */
.button-container .button-1 {
	font-size: 18px;
	font-weight: bold;
    margin-right: 35px;
    padding: 180px 50px; /* Ajuste o padding conforme necessário */
    color: white; /* Cor do texto do botão 1 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    overflow: hidden; /* Garante que o overflow da imagem não ultrapasse o botão */
    background-image: url('../imagens/atividades.jpg'); /* Caminho para a imagem do botão 1 */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o botão */
    background-position: center; /* Centraliza a imagem de fundo dentro do botão */
    z-index: 2; /* Coloca o botão na frente da camada de transparência */
}

.button-container .button-1::before {
    content: "Entregar Atividade"; /* Texto do pseudo-elemento para a camada de transparência */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)); /* Gradiente com tonalidade de preto */
    z-index: 1; /* Coloca a camada de transparência sobre a imagem de fundo */
    display: flex; /* Utiliza flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto centralmente */
}

.button-container .button-1:hover::before {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* Gradiente com mais tonalidade de preto ao passar o mouse */
}



/* Para o botão 2 */
.button-container .button-2 {
	font-size: 18px;
	font-weight: bold;
    margin-right: 35px;
    padding: 180px 85px; /* Ajuste o padding conforme necessário */
    color: white; /* Cor do texto do botão 1 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    overflow: hidden; /* Garante que o overflow da imagem não ultrapasse o botão */
    background-image: url('../imagens/atividades.jpg'); /* Caminho para a imagem do botão 1 */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o botão */
    background-position: center; /* Centraliza a imagem de fundo dentro do botão */
    z-index: 2; /* Coloca o botão na frente da camada de transparência */
}

.button-container .button-2::before {
    content: "Feedback"; /* Texto do pseudo-elemento para a camada de transparência */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)); /* Gradiente com tonalidade de preto */
    z-index: 1; /* Coloca a camada de transparência sobre a imagem de fundo */
    display: flex; /* Utiliza flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto centralmente */
}

.button-container .button-2:hover::before {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* Gradiente com mais tonalidade de preto ao passar o mouse */
}


/* Para o botão 3 */
.button-container .button-3 {
	font-size: 18px;
	font-weight: bold;
    margin-right: 35px;
    padding: 180px 55px; /* Ajuste o padding conforme necessário */
    color: white; /* Cor do texto do botão 1 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    overflow: hidden; /* Garante que o overflow da imagem não ultrapasse o botão */
    background-image: url('../imagens/atividades.jpg'); /* Caminho para a imagem do botão 1 */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o botão */
    background-position: center; /* Centraliza a imagem de fundo dentro do botão */
    z-index: 2; /* Coloca o botão na frente da camada de transparência */
}

.button-container .button-3::before {
    content: "Avaliar Feedback"; /* Texto do pseudo-elemento para a camada de transparência */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)); /* Gradiente com tonalidade de preto */
    z-index: 1; /* Coloca a camada de transparência sobre a imagem de fundo */
    display: flex; /* Utiliza flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto centralmente */
}

.button-container .button-3:hover::before {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); /* Gradiente com mais tonalidade de preto ao passar o mouse */
}

/*Estilização footer*/
@media screen and (max-width: 767px){
.rodape{
	padding-top: 25px;
}
}

.rodape{
	padding: 50px;
	background-color: #140f44;
}

/* Estilização para o h1 do footer */
.rodape h1 {
	font-family: "Titillium Web", sans-serif;
    font-size: 24px; /* Tamanho do texto */
    color: #fff; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento inferior */
}


.row{
	margin-right: -15px;
	margin-left: -15px;
}

.rodape p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: white;
	margin: 0;
	line-height: 1.4em;
}

.sigla{
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #333;
}

@media screen and (max-width: 767px){
.rodape .logo-do-gdf{
	text-align: left;
	margin-top: 20px;
}
}

@media (min-width: 992px){
.col-md-8{
	width: 66.66666667%;
}
}

.rodape .logo-do-gdf{
	text-align: right;
}

.col-xs-12{
	width: 100%;
}